.volverBtn{
    position:fixed;
    bottom:10px;
    right:10px;
    padding:10px;
    border-radius: 3px;
}

.volverBtn:hover{
    background-color:aquamarine;
    cursor:pointer;
}

.detail-content h1{
    display:none;
}
.detail-content h2, .detail-content h3, .detail-content h4{
    color:#006699;
    font-size: 1.5rem;
}

.detail-content img{
    max-width: 100%;
}

.mermaid{
    text-align: center;;
}

.social-links{
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #006699;
}

.social-links a {
    color: #888;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}